version: '3.8'
services:
 app:
  image: jibindevps/first-build:V1
  ports:
  - "3000:3000"
  depends_on:
  - db
  volumes:
  - app_data:/data/app
  

 db:
  image: jibindevps/prod-db:V1.2
  
  ports:
  - "27017:27017"
  volumes:
  - db_data:/data/db
volumes:
  db_data: {}
  app_data: {} 